@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <a asp-action="Create">Upload Document</a>
    </div>
    <div>
        <a asp-action="Files">List of Documents</a>
    </div>
</div>
